.community-item-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 150px;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
}

.community-item-card .container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 60%;
}

.community-item-card > * {
	background-color: white;
}

.community-item-card-img {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40%;
	border-radius: 8px;
	background-position: center;
	background-size: cover;
}

.community-item-card-follower-count {
	padding: 4px 8px;
	background-color: #f1f2f6;
	border-radius: 8px;
}

@media (max-width: 992px) {
	.community-item-card {
		height: 125px;
	}
	.community-item-card .container {
		height: max-content;
	}
	.community-item-card-follower-count {
		padding: 0;
		background-color: transparent;
	}
	.community-item-card-img {
		position: relative;
		top: -8px;
	}
}
